@model QuirkyBookRental.ViewModel.BookRentalViewModel

<a type="button" class="btn-primary btn btn-warning" href="@Url.Action("Add","Favourites",new { Model.BookId})">
    <span class="glyphicon glyphicon-heart-empty
"></span>
    <span>Add To Favourites</span>
</a>
