@model QuirkyBookRental.ViewModel.BookRentalViewModel

<a type="button" class="btn-primary btn btn-warning" href="@Url.Action("Remove","Favourites",new {Model.BookId})">
    <span class="glyphicon glyphicon-heart
"></span>
    <span>Remove From Favourites</span>
</a>
